<section id="blog">
    <div class="blog-heading">
      <span>My recent Posts</span>
      <h3>My Blog</h3>
    </div>
  
    <div class="blog-container">
      <div class="blog-box">
  
        <div class="blog-img">
          <img src="/Parity/public/Links/Untitled-3.png" alt="#">
        </div>
  
        <div class="blog-text">
          <span>18 July 0221 / Web Design</span>
          <a href="#" class="blog-title">Student Stories</a>
          <p>dddddddddddddddddddddddddd wdadawddwwdaw wada dawdwa</p>
          <a href="#">Read more</a>
        </div>
  
      </div>
  
      <div class="blog-container">
        <div class="blog-box">
    
          <div class="blog-img">
            <img src="/Parity/public/Links/Untitled-3.png" alt="#">
          </div>
    
          <div class="blog-text">
            <span>18 July 0221 / Web Design</span>
            <a href="#" class="blog-title">Volunteers</a>
            <p>dddddddddddddddddddddddddd wdadawddwwdaw wada dawdwa</p>
            <a href="#">Read more</a>
          </div>
    
        </div>
  
        <div class="blog-container">
          <div class="blog-box">
      
            <div class="blog-img">
              <img src="/Parity/public/Links/Untitled-3.png" alt="#">
            </div>
      
            <div class="blog-text">
              <span>18 July 0221 / Web Design</span>
              <a href="#" class="blog-title">Fundraising</a>
              <p>dddddddddddddddddddddddddd wdadawddwwdaw wada dawdwa</p>
              <a href="#">Read more</a>
            </div>
      
          </div>
  
    </div>
  </section>