<footer>
  <div class="container">
    <ul class="footer-links">
      <li><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><a href="#">Services</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
    <img src="/img/logo.png" alt="" class="footerLogo" />
    <p>dawdawda@adw.com</p>
  </div>
</footer>
