<section id="questions">
  <div class="container">
    <h1>QUESTIONS?</h1>
    <p>Parity For Disability</p>
    <p>94 Whetstone Road</p>
    <p>Cove</p>
    <p>Farnborough</p>
    <p>Hampshire</p>
    <p>GU14 9SX</p>
    <button class="btn btn-primary">Donate</button>
  </div>

  <div class="left">
    <form>
      <div>
        <label for="name">Name *</label>
        <input
          id="name"
          style="height: auto; width: 200px; min-height: 30px;"
          type="text"
        />
      </div>

      <div>
        <label for="email">Email *</label>
        <input
          id="email"
          style="height: auto; width: 200px; min-height: 30px;"
          type="email"
        />
      </div>

      <div>
        <label for="phone">Phone Number *</label>
        <input
          id="phone"
          style="height: auto; width: 200px; min-height: 30px;"
          type="email"
        />
      </div>

      <div></div>

      <div class="full-width">
        <label for="message">Message:</label>
        <textarea
          id="message"
          style="height: auto; width: 500px; min-height: 100px;"></textarea>
      </div>

      <div class="full-width">
        <button type="submit">Send Response</button>
        <button type="reset">Clear Form</button>
      </div>
    </form>
  </div>
</section>
